.page-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    padding-top: 35px;
}

.page-content hr {
    margin: 15px 0px;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: rgb(240,240,240);
}

.announcements {
    padding-left: 15px;
}

.announcements-search {
    padding-top: 5px;
    display: flex;
    padding-bottom: 15px;
}

.search-bar {
    display: inline-block;
    flex: 1;
    padding: 6px 12px 5px 12px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-radius: 4px;
    border-width: 0.8px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
}

.search-bar::placeholder {
    color: rgb(156, 156, 156);
}

.search-bar:focus {
    outline: none;
    border-color: rgb(93, 155, 255);
    box-shadow: rgba(81, 203, 238, 0.9) 0px 0px 5px 0px; 
}

.search-button-wrapper {
    padding-left: 30px;
    padding-right: 85px;
}
.search-button {
    width: 75.3px;
    height: 36.45px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(76, 174, 76);
    background-color: rgb(92, 184, 92);
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.search-button:hover {
    background-color: rgb(81, 177, 81);
}

.search-tags button {
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    border-radius: 3px;
    color: white;
    padding: 5.4px 7.2px 2.4px 7.2px;
    height: 22px;
    font-weight: 700;
    border: none;
    margin-right: 4px;
}

.search-tags button:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.2px;
    text-decoration-color: #2b6394;
}

.announcements-log {
    margin-top: 30px
}

.announcements-item {
    position: relative;
    padding-left: 100px;
    background-color: rgb(240,242,249);
}

.gray-background {
    background-color: rgb(240,242,249);
}

.white-background {
    background-color: white;
}

.tag-button {
    position: absolute;
    top: 5px;
    left: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    border-radius: 3px;
    color: white;
    padding: 5.4px 7.2px 2.4px 7.2px;
    height: 22px;
    font-weight: 700;
    border: none;
}

.announcements-item-content {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.announcements-item img {
    margin-left: 5px;
}

.announcements-item-content p {
    cursor: pointer;
    margin: 0;
}

.announcements-item-content p:hover {
    text-decoration: underline;
}

.announcements-item-date {
    padding: 0px 0px 15px 0px;
    font-weight: bold;
}

.announcements-item-date span {
    font-weight: 600;
    color: rgb(121,122,145);
    font-style: italic;
    font-size: 15px;
}

.tooltip {
    position: absolute;
    background: #000000;
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    top: -30px; 
    left: 0px;

    /* Hidden by default */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s; 
}

.announcements-item button:hover + .tooltip {
    opacity: 1; 
}

.tooltip p {
    color: white;
    margin-block-end: 3px;
    margin-block-start: 0;
}


.tooltip p::after {
    content: " ";
    position: absolute;
    top: 100%; 
    left: 19.2px;
    margin-left: -5.5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.announcements-modal {
    position: fixed;
    top: -150%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    opacity: 0;
    transition: opacity 0.5s, top 0.4s;
    z-index: 2;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.announcements-modal-active {
    opacity: 1;
    top: 0;
}

.announcements-modal-content {
    position: relative;
    width: 900px;
    height: fit-content;
    background-color: white;
    border-radius: 6px;
    border-color: black;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    transform: translateY(-200px);
    transition: transform 0.5s;
}

.announcements-modal-active .announcements-modal-content {
    transform: translateY(0);
}

.announcements-modal-active .overlay {
    display: initial;
}

.modal-header {
    position: relative;
    height: 53.65px;
    border-bottom: solid 1px rgb(232, 232, 232);
    padding-left: 15px;
    width: 900px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.announcements-close-modal-button {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    border: none;
    font-weight: 900;
    font-size: 10px;
    cursor: pointer;
    width: 25px; /* Set a width to maintain button size */
    height: 25px; /* Set a height to maintain button size */
    border-radius: 50%; /* Make the button circular */
}


.modal-body {
    padding-left: 15px;
}

.modal-body p {
    margin-bottom: 25px;
    font-weight: 700;
}

.modal-body span {
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: rgb(76,76,76);
    line-height: 30px;
    margin-bottom: 15px;
}

.modal-footer {
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    align-self: center;
    height: 67.25px;
    background-color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: solid 1px rgb(232, 232, 232);
    justify-content: flex-end;
}

.modal-footer button {
    padding: 6px 12px;
    font-size: 16px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(206, 206, 206);
    background-color: white;
    color: rgb(51, 51, 51);
    cursor: pointer;
}

.modal-footer button:hover {
    background-color: rgb(240, 240, 240);
}




