.event-calendar {
    padding-right: 15px;
}

.view-monthly-events-button {
    margin-top: 5px;
    height: 36.45px;
    padding: 10px 12px 6px 12px;
    border-radius: 4px;
    border-style: solid;
    border-width: 0.8px;
    border-color:  rgb(204, 204, 204);
    background-color: white;
    color: rgb(51, 51, 51);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14.5px;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.event-calendar .section-header p {
    font-size: 16px;
    text-decoration: underline;
    font-weight: 700;
    margin: 0;
    margin-top: 38px;
}



