.forms-and-links {
    margin-top: 50px;
}

.forms-and-links-content {
    padding-top: 5px;
}

.forms-and-links-item {
    padding-left: 10px;
    height: 35.85px;
    display: flex;
    align-items: center;
}

.forms-and-links-item .forms-and-links-item-name {
    font-size: 15.5px;
    margin: 0;
    display: inline-block;
    cursor: pointer;
}

.forms-and-links .forms-and-links-item-name:hover {
    text-decoration: underline;
}

.forms-and-links-item .item-number {
    margin-top: 4px;
    margin-left: 10px;
    background-color: #777;
    border-radius: 10px;
    color: white;
    border: none;
    font-weight: 700;
    padding: 3px 7px;
    font-size: 12px;
}

.forms-and-links-item:hover {
    background-color: rgb(246, 246, 246);
}

.forms-and-links-modal {
    position: fixed;
    top: -150%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    opacity: 0;
    transition: opacity 0.5s, top 0.4s;
    z-index: 2;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.forms-and-links-modal-active {
    opacity: 1;
    top: 0;
}

.forms-and-links-modal-content {
    position: relative;
    width: 900px;
    height: fit-content;
    background-color: white;
    border-radius: 6px;
    border-color: black;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    transform: translateY(-200px);
    transition: transform 0.5s;
}

.forms-and-links-modal-active .forms-and-links-modal-content {
    transform: translateY(0);
}

.forms-and-links-modal-active .overlay {
    display: initial;
}

.modal-header {
    position: relative;
    height: 53.65px;
    border-bottom: solid 1px rgb(232, 232, 232);
    padding-left: 15px;
    font-weight: bold;
    width: 900px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.forms-and-links-close-modal-button {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    border: none;
    font-weight: 900;
    font-size: 10px;
    cursor: pointer;
    width: 25px; /* Set a width to maintain button size */
    height: 25px; /* Set a height to maintain button size */
    border-radius: 50%; /* Make the button circular */
}


.modal-body {
    padding-left: 15px;
    padding-right: 15px;
}

.modal-body p {
    margin-bottom: 25px;
    font-weight: 700;
}

.modal-body span {
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: rgb(76,76,76);
    line-height: 30px;
    margin-bottom: 15px;
}

.modal-footer {
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    align-self: center;
    height: 67.25px;
    background-color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: solid 1px rgb(232, 232, 232);
    justify-content: flex-end;
}

.modal-footer button {
    padding: 6px 12px;
    font-size: 16px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(206, 206, 206);
    background-color: white;
    color: rgb(51, 51, 51);
    cursor: pointer;
}

.modal-footer button:hover {
    background-color: rgb(240, 240, 240);
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 35px;
}

td, th {
    padding: 8px;
    height: 22.050px;
    border: 0.8px solid rgb(221, 221, 221);
}

th {
    text-align: left;
}

.title {
    color: rgb(71, 142, 204);
    cursor: pointer;
    font-size: 14px;
}

.title:hover {
    text-decoration: underline;
    color: rgb(42, 100, 150);
}

.date {
    font-size: 14px;
}

.tag {
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    border-radius: 3px;
    color: white;
    padding: 5.4px 7.2px 2.4px 7.2px;
    height: 22px;
    font-weight: 700;
    border: none;
    margin-left: 4px;
}


