.page-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    padding-top: 35px;
}

.page-content hr {
    margin: 15px 0px;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: rgb(240,240,240);
}

.announcements {
    padding-left: 15px;
}

.announcements-search {
    padding-top: 5px;
    display: flex;
    padding-bottom: 15px;
}

.search-bar {
    display: inline-block;
    flex: 1;
    padding: 6px 12px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-radius: 4px;
    border-width: 0.8px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
}

.search-bar::placeholder {
    color: rgb(156, 156, 156);
}

.search-button-wrapper {
    padding-left: 30px;
    padding-right: 85px;
}
.search-button {
    width: 75.3px;
    height: 36.45px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(76, 174, 76);
    background-color: rgb(92, 184, 92);
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.search-tags button {
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    border-radius: 3px;
    color: white;
    padding: 5.4px 7.2px 2.4px 7.2px;
    height: 22px;
    font-weight: 700;
    border: none;
    margin-right: 4px;
}

/*Event calendar*/
.event-calendar {
    padding-right: 15px;
}

.view-monthly-events-button {
    margin-top: 5px;
    height: 36.45px;
    padding: 10px 12px 6px 12px;
    border-radius: 4px;
    border-style: solid;
    border-width: 0.8px;
    border-color:  rgb(204, 204, 204);
    background-color: white;
    color: rgb(51, 51, 51);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14.5px;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.event-calendar .section-header p {
    font-size: 16px;
    text-decoration: underline;
    font-weight: 700;
    margin: 0;
    margin-top: 38px;
}



